@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrant", sans-serif;
}

body {
    background-color: #c9d6ff;
    background: linear-gradient(to right, #e2e2e2, #c9d6ff);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
}

.container {
    width: 768px;
    max-width: 100%;
    min-height: 480px;
    margin: 20px 0;
    padding: 16px;
}

.gastos-container{
    float: right;
    padding-right: 5px;
    margin: 5px;
}

.actions button {
    background-color: #512da8;
    color: #fff;
    font-size: 12px;
    padding: 10px 45px;
    border: 1px solid transparent;
    border-radius: 8px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    transition: all 0.3s;
    width: 100%;
    margin-bottom: 16px;
}

.actions button:hover {
    cursor: pointer;
    background-color: #7f63c0;
    transition: all 0.3s;
}

.logout {
    border: none;
    background: none;
    color: #7e8089;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin: 16px 0;
    padding: 0
}

.logout:hover {
    cursor: pointer;
    color: #512da8;
}

.logout span {
    margin-right: 8px;
}

.history {
    float: right;
    color: #512da8;
    font-size: 16px;
    text-decoration: none;
}

.history span {
    margin-right: 8px;
}

.mes{
    padding: 0;
    font-size: 20px;
    margin: 16px 0;
}

.span-container {
    letter-spacing: 0.5px;
    font-size: 20px;
    display: flex;
    margin: 32px 0 8px 0;
}

.expenses {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0;
    padding: 0;
    justify-content: space-between;
}

.expenses .expense-card {
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    box-shadow: 0 0px 15px rgba(0, 0, 0, 0.25);
    background-color: #ffffff;
    padding: 30px;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin: 8px 0;
}


.expenses .expense-card .fa, .expenses .expense-card .value {
    width: 100%;
}

.expenses .expense-card .fa {
    font-size: 24px;
    color: #7f63c0;
    margin-bottom: 18px;
}

.expenses .expense-card .value {
    margin-top: 8px;
    font-weight: bold;
}

.actions {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 36px;
}

.title-box {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    position: relative;
    width: 100%;
}

.title-box a {
    color: #717171;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
    margin: 8px 0 0;
    transition: all 0.3s;
}

.title-box a:hover {
    color: #512da8;
    cursor: pointer;
    transition: all 0.3s;
}

.title-box a span {
    margin-right: 8px;
}

.title-box .avatar {
    background-color: #717171;
    border-radius: 50%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 40px;
    width: 40px;
    margin-right: 16px;
}

.title-box .preferences {
    background-color: #717171;
    border: none;
    border-radius: 50%;
    color: #fff;
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    height: 40px;
    width: 40px;
    margin-right: 16px;
    position: absolute;
    top: 0;
    z-index: 999;
}

.title-box .preferences:hover {
    cursor: pointer;
}

.income {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    text-align: left;
    width: 100%;
    margin-top: 16px;
}

.income .fa {
    margin-right: 8px;
    color: #717171;
}

.income p {
    font-size: 16px;
    margin-right: 8px;
    width: 100%;
}

.income .number {
    font-size: 18px;
    font-weight: bold;
}

.header {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 32px;
}

.header h2 {
    width: 80%;
}

@media screen and (min-width: 768px) {
    .income {
        width: 300px;
        margin-top: 0;
        text-align: right;
    }
    .title-box {
        width: 340px;
    }
    .title-box a {
        margin: 4px 0 0 60px;
    }
    .actions button {
        margin-bottom: 0;
        width: auto;
    }
    .expenses .expense-card {
        margin: 16px 0;
        width: calc(33% - 16px);
    }

    .span-container {
        margin: 32px 0 32px 8px;
    }
}